[submodule "lib/math-utils-lib"]
	path = lib/math-utils-lib
	url = https://github.com/goromal/math-utils-lib.git
[submodule "lib/logging-utils-lib"]
	path = lib/logging-utils-lib
	url = https://github.com/goromal/logging-utils-lib.git
